# Сайт по получению координат 
# GEOCODING_API_URL:http(s)://Выбери сам
# Прогноз погоды по координатам
# OPEN_METEO_API_URL: http(s)://Выбери сам
# Таймаут(мс)
# TIME_OUT: 1000
# Каталог
# CATALOG: выберите любую